POSTGRES_DB=appmonetizar
POSTGRES_USER=appmonetizar
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES
POSTGRES_PORT=5434

RABBITMQ_USER=appmonetizar
RABBITMQ_PASSWORD=CHANGE_ME_RABBITMQ
RABBITMQ_PORT=5673
RABBITMQ_MANAGEMENT_PORT=15673

MINIO_ROOT_USER=appmonetizar
MINIO_ROOT_PASSWORD=CHANGE_ME_MINIO_STRONG
MINIO_API_PORT=9002
MINIO_CONSOLE_PORT=9003

N8N_ENCRYPTION_KEY=CHANGE_ME_32_CHARACTERS_MINIMUM
N8N_USER_MANAGEMENT_JWT_SECRET=CHANGE_ME_RANDOM_SECRET
N8N_WEBHOOK_URL=http://localhost:5679/
N8N_PORT=5679

API_PORT=8088
WEB_PORT=4208
OLLAMA_PORT=11435

PORTAL_GATEWAY_URL=http://host.docker.internal:8080
PORTAL_SECURITY_URL=http://host.docker.internal:8080/security
PORTAL_MENU_URL=http://host.docker.internal:8080/menu
PORTAL_CONFIGURATION_URL=http://host.docker.internal:8080/configuration
PORTAL_AUDIT_URL=http://host.docker.internal:8080/audit
PORTAL_NOTIFICATION_URL=http://host.docker.internal:8080/notification

OPENAI_API_KEY=
ELEVENLABS_API_KEY=
CREATOMATE_API_KEY=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
META_APP_ID=
META_APP_SECRET=
